html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  font-family: "Monaco", monospace;
}

canvas {
  display: block;  /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4 {
  margin: 0px;
}

#sidebar {
  width: 24em;
  transition: 0.5s ease-in-out;

  /* position */
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
}

#sidebar.closed {
  left: -16.5em;
}

#sidebar_panel {
  transition: 0.5s ease-in-out;

  width: 16em;
  height: 100%;
  overflow-y: auto;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-left: 0.5em;

  /* position */
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  direction: ltr;

  background-color:rgba(255, 255, 255, 0.8);
  box-shadow: black 0.5em 0.0em 0.5em;
}

#sidebar_panel.closed {
  box-shadow: black 0.0em 0.0em 0.0em;
  background-color:black;
}

#sidebar_button {
  transition: 0.5s ease-in-out;

  /* position */
  position: absolute;
  top:0px;
  left:16.5em;

  background-color:white;
  color:black;
  box-shadow: black 0.1em 0.1em 0.1em;
}

#sidebar_button.closed {
  background-color: black;
  color:white;
  border: solid 0.1em white;
  box-shadow: white 0.1em 0.1em 0.1em;
}

.ui_button {
  /* text */
  color: rgba(255, 255, 255, 0.8);
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  /* padding */
  padding-top: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.5em;
  /* border */
  border: none;
  /* border: solid 0.1em rgba(0, 0, 0, 0.3); */
  box-shadow: white 0.1em 0.1em 0.1em;
}

.ui_button:active {
  -webkit-transition: .2s;
  transition: .2s;
  background-color: rgba(255, 169, 46, 0.85);
  box-shadow: black -0.05em -0.05em 0.1em;
  color: white;
}